/* p{
            color: red;
            font-size: x-large;
        }

        h1{
            background-color: aqua;
        }

        table{
            border: 10px solid black;
        } */

        /* .green{
            color: green;
        }

        .blue{
            color: blue;
        }

        .small{
            font-size: small;
        }
        .large{
            font-size: larger;
        } */

        /* #first-button{
            color: red;
        } */

        /* #intro-para{
            background-color: aqua;
        } */
        button:hover{
            color: yellow;
        }

        /* .link-color:hover{
            color: green;
        } */

        #unique:hover{
            color: whitesmoke;
        }